

<%- include('includes/header') %>
<%- include('includes/nav') %>

<div class="container title">
  <h1>Contatos</h1>
  <p>
    Visualize suas informações contatos abaixo:
  </p>
</div>

<div class="container meio">
  <div class="msg-erro">
    <p>Mensagem de Erro</p>
  </div>
</div>

<div class="container meio">
  <table>
    <tr>
      <td>Duds</td>
      <td>Secco</td>
      <td>48 9 9977-8469</td>
      <td>duds@email.com</td>
    </tr>
  </table>
</div>

<%- include('includes/footer') %>