<%- include('includes/headerLogin') %>
<%- include('includes/navRegister/') %>

<div class="container title">
  <h1>Cadastre-se</h1>
</div>

<div class="container meio">
  <form action="/register" method="POST">
    <input type="hidden" name="_csrf" value=<%= csrfToken %>>
    <div class="box-input">
      <label for="id-email">Seu e-mail</label><br>
      <input type="email" name="email" id="id-email">
    </div>
    <div class="box-input">
      <label for="id-senha">Senha</label><br>
      <input type="password" name="senha" id="id-senha">
    </div>
    <p>Termos de Uso</p>
    <button type="submit">Crie sua Conta</button>
  </form>
</div>

<%- include('includes/footer') %>